
*.stash
*.idx
*.o
build-ROMRecordQt-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/.qtc_clangd/compile_commands.json
build-ROMRecordQt-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-ROMRecordQt-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/debug/moc_predefs.h
build-ROMRecordQt-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/debug/ROMRecordQt.exe
build-ROMRecordQt-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/Makefile
build-ROMRecordQt-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/Makefile.Debug
build-ROMRecordQt-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/Makefile.Release
build-ROMRecordQt-Desktop_Qt_6_5_2_MinGW_64_bit-Debug/ui_mainwindow.h
